fabric-contract/flogo_cc/
marble-app/marble_cc/
marble-private/marble_private_cc/
iou-app/iou_cc/
testdata/crypto-config/
marble-client/marble_client/
marble-private-client/marbleprivate_client
*.cds
fabric-tools/scripts/*.yaml
fabric-tools/scripts/crypto*
